body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4b47ff;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.logo img {
  width: 50px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  font-weight: 600;
}

.immortal-text {
  color: darkred;
}

.secret-text {
  color: black;
}

.mega-text, .colossal-text {
  color: pink;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.search-bar input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.pet-tier h2, .immortal-text, .secret-text, .mega-text, .colossal-text {
  margin-top: 20px;
}

.immortal h2 {
  color: darkred;
}

.secret h2 {
  color: black;
}

.mega h2, .colossal h2 {
  color: pink;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #4b47ff;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}
